.flexcenter{
   display:flex;
   justify-content:center;
   align-items:center;
}
.btn{
    margin: 0 10px;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 2px 3px;
    cursor: pointer;
    border-color: white;
}
.btn:hover{
    font-weight: bold;
}
.caption{
    margin:20px 0;
}
.text{
    margin: 5px 0;
}
.text-center{
text-align: center;
}